# Ігнорувати  файли
DB/charges.csv
DB/projectiles.csv
DB/finish_shots.csv
DB/shots.csv
DB/signal_settings.csv
DB/shotsposition.csv
dist/DB/charges.csv
dist/DB/projectiles.csv
dist/DB/finish_shots.csv
dist/DB/shots.csv
dist/DB/signal_settings.csv
DB/data_storage.db
.idea/workspace.xml
build/main/Analysis-00.toc
build/main/EXE-00.toc
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/main.pkg
build/main/warn-main.txt
build/main/warn-
main.spec
setup.py
report.pdf
error.log
browser.py
# Ігнорувати папки
DB/chat_history/
dist/DB/chat_history/
dist/Version/
blob_storage/
VideoDecodeStats/
webrtc_event_logs/
build/
.idea/

